<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<ul class="nav nav-pills">
    <li role="presentation"><a routerLink="login" >Login</a></li>  
    <li role="presentation"><a routerLink="products" >Products</a></li> 
    <li role="presentation"><a routerLink="inventory" >Inventory</a></li>  
    <li role="presentation"><a routerLink="users" >Users</a></li>  
    <li role="presentation"><a routerLink="cart" >Cart</a></li> 
    <li role="presentation"><a routerLink="reg" >Registration</a></li> 
    <li role="presentation"><a routerLink="customers" >Customers</a></li> 
    <li role="presentation"><a routerLink="todo" >Todo</a></li> 
    <li role="presentation"><a routerLink="reporttodo" >To Do Report</a></li> 
    <li role="presentation"><a routerLink="logout" >{{username}}  Logout</a></li>
</ul>