<form >
    <div class="form-group">
      <label for="username">User Name:  {{username}}</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password: {{password}}</label>
      <input type="password" class="form-control" id="pwd" [value]="password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button class="btn btn-default" (click)=login()>Login</button>
  </form>
  <div class="row">
    <div class="column">
      <img src="assets/images/1.jpeg">
      <img src="assets/images/2.jpeg">
      <img src="assets/images/3.jpeg">
      <img src="assets/images/4.jpeg">
      <img src="assets/images/5.jpeg">
      <img src="assets/images/6.jpeg">
      <img src="assets/images/7.jpeg">
    </div>
    <div class="column">
      <img src="assets/images/11.jpeg">
      <img src="assets/images/12.jpeg">
      <img src="assets/images/13.jpeg">
      <img src="assets/images/14.jpeg">
      <img src="assets/images/15.jpeg">
      <img src="assets/images/9.jpeg">
      <img src="assets/images/8.jpeg">
    </div>
    <div class="column">
      <img src="assets/images/19.jpeg">
      <img src="assets/images/23.jpeg">
      <img src="assets/images/18.jpeg">
      <img src="assets/images/24.jpeg">
      <img src="assets/images/20.jpeg">
      <img src="assets/images/16.jpeg">
      <img src="assets/images/17.jpeg">
    </div>
    <div class="column">
      <img src="assets/images/21.jpeg">
      <img src="assets/images/22.jpeg">
      <img src="assets/images/25.jpeg">
      <img src="assets/images/26.jpeg">
      <img src="assets/images/27.jpeg">
      <img src="assets/images/29.jpeg">
      <img src="assets/images/30.jpeg">
    </div>
  </div>