<p>productlist works!</p>
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>price</th>
        <th>Image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
        <td><img [src]= "product.imgPath" > </td>
        <td><button class="button" (click)="addToCart(product)"> Add to Cart</button></td>
      </tr>
     
    </tbody>
  </table>

